@font-face {
  font-family: 'RobotMono';
  src: url('./fonts/RobotoMono-Thin.ttf');
}
*{
  font-size: 'RobotMono', monospace;
}/** o * seleciona todos os componentes **/ 
body{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}